@(chatRoomList: List[ChatRoom])(createRoomForm: Form[ChatRoomData])(implicit messages: Messages)

@main("Chat Room List") {
@defining(play.core.PlayVersion.current) { version =>

<section id="content">
    <div class="wrapper doc">
        @helper.form(action = routes.ListController.createChatRoom) {
            @helper.inputText(createRoomForm("description"))
            <input type="submit" value="Create Room"/>
        }
        <ul>
            @for(chatRoom <- chatRoomList) {
                <li>
                    <div>Description @chatRoom.description</div>
                    <div>Created @chatRoom.created_time</div>
                    <div><a href="/rooms/@chatRoom.room_id">Join</a></div>
                </li>
            }
        </ul>
    </div>
</section>
}
}